name: myfixer
description: A new Flutter project.
version: 1.0.0+1

environment:
  sdk: '>=2.17.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.1 # Added for making HTTP requests
  image_picker: ^1.1.2
  http_parser: ^4.0.2
  flutter_secure_storage: ^9.0.0
  web_socket_channel: ^2.4.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
